<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>TAC Tools</title>
    </head>
    <link href="static/css/tactools_style.css" type="text/css" rel="stylesheet" />
    <body>

<div class="container" align="center">


  <h1>Ruckus TAC Tools</h1>
  <br>
  <p> This page contains software tools primarily for support, to help debug
    and diagnose customer problems.</p>
  <p> These links are tools to decode ICX stack traces. Supported format is
    'dm save', 'dm mem-leak' or 'dm sample'.</p><p> The sample output
    can either be inputted via cut and paste, or uploaded as a file:</p>
    <br>
  <a href="http://happy.darkphoenix.net:5555/text_decode">Memory-Leak decoder (upload a file)</a>
  <br>
  <a href="http://happy.darkphoenix.net:5555/text_decode_nofile">Memory-Leak decoder (paste output)</a>
  <br>
  <br>
  <p> The supportsave Core file decoder decodes binary 'ss_core_*' files:</p>
  <a href="http://happy.darkphoenix.net:5555/icx_decoder">Supportsave Core file decoder</a>
  <br>
  <br>

  <h4> Any questions about these tools, please contact Lauren Miller:
  <a href="mailto:lmiller@arris.com">Email</a></h4>
</div>
</body>
</html>
